#grid {
	display: grid;
	
}
.square {
	height:10rem;
	background-color: lightgray;
	display: flex;
	cursor: pointer;
	font-size: 20px;
}
.clicked {
	background-color: green;
}
.bomb {
	background-color: red;
}